*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Commons-IO/nbproject/private/
/Apache-Commons-Lang/nbproject/private/
/build/
/Apache-Commons-Codec/build/
/Apache-Commons-Codec/nbproject/private/
/Java-Architecture-for-XML-Binding/build/
/metadata-extractor/build/
/JavaAPIforKml/build/
/json-simple/build/
/cron4j/nbproject/private/
/JavaAPIforKml/nbproject/private/
/Java-Architecture-for-XML-Binding/nbproject/private/
/json-simple/nbproject/private/
/metadata-extractor/nbproject/private/
/cron4j/build/
/nbproject/private/
/Apache-Commons-IO/build/
/Apache-Commons-Lang/build/
/Apache-Commons-IO/nbproject/private/